@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'assets/fonts/halvar-breit.scss';

:root {
  --font-inter: 'Inter', sans-serif;
  --font-halvar: 'Halvar Breit', sans-serif;
  --gray: #333;
  --border-color: #d3d3d3;
  --placeholder-color: #888888;
  --buttons-text-color-black: #060606;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  &,
  input {
    font-family: var(--font-inter);
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    width: 100%;
    display: flex;
    justify-content: center;

    .App {
      border: 1px solid #d3d3d3;
      max-width: 1689px;
      width: 100%;
      display: flex;
      flex-direction: column;

      main {
        margin-bottom: 40px;
        flex: auto;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
